* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  padding: 1rem;
}

h1, .subtitle {
  text-align: center;
}

.container {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* ------ Profile Section ------ */
.profile--section, .country--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color:darkolivegreen;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 1px 1px black;
}

/* ------ Countries Section ------- */
.country--section {
  margin: 0;
  padding-bottom: 5rem;
}


.country {
  height: 20rem;
  width: 30rem;
  box-shadow: 5px 5px black;
  margin: 3rem 0;
  padding: 1rem;
  border: 1px solid black;
}

.country-bold {
  font-weight: 700;
  font-size: 1.1rem;
}